h2{
    color: greenyellow;
}

.box{
    width: 200px;
    height: 200px;
    background-color: royalblue;
    border-radius: 50%;
    box-shadow: -20px -20px 10px 15px black;
   /* margin-top: 50%;*/
   margin: 200px;
   padding: 50px;
   text-align: center;
   border: 10px solid black;
}

.head1{
    font-size: 90px;
    font-weight:normal ;
    text-decoration: underline wavy pink ;
    text-shadow: 5px 5px 10px white

}